@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "reset.css";
@import "variables.css";
/* components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
/*screens*/
@import "screens/login.css";
@import "screens/friends.css";

body{
    font-family: "Roboto Mono", monospace;
    height: 1000vh;
    color: #2e363e;
}

